################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/data
/build.vs.2022
/bin.rel
/bin.dbg
